* {
  background: black;
}

.tile {float:left; margin: 1px;}

.white {background: white;}
.red {background: red;}
.orange {background: orange;}
.yellow {background: yellow;}
.green {background: green;}
.blue {background: blue;}
.indigo {background: indigo;}
.violet {background: violet;}
