<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sinatrek</title>
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <%= yield %>
<script src="js/main.js"></script>
</body>
</html>
