body {
  background: #000;
  color: aqua;
}

#enterprise {float:left;}

#crew {
  float:left;
}

#refugees{
  float:left;
  color:green;
}

#vulcan {
  float:left;
  clear: both;
}

#vulcan-dudes{
  float:left;
  clear:both;
  color: red;
}
